body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
}

.navbar {
  padding: 20px 35px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  background-color: lightgrey;
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
}

.content {
  padding: 20px 35px;
}

.tasks-header, .users-header {
  border-bottom: 1px solid black;
}

